<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" name="design-properties"
          content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;PAPER_WIDTH&quot;:1176,&quot;PAPER_HEIGHT&quot;:900,&quot;PAPER_SCROLL_LEFT&quot;:2118,&quot;PAPER_SCROLL_TOP&quot;:1980,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;mytheme&quot;}">
</head>
<body>

    <vaadin-css-layout style-name="valo-menu">
        <vaadin-css-layout style-name="valo-menu-part">
            <vaadin-button icon="fonticon://FontAwesome/f03a" style-name="primary small valo-menu-toggle" plain-text=""
                           _id="menuToggle">
                Menu
            </vaadin-button>
            <vaadin-css-layout style-name="valo-menuitems" _id="menuItems">
                <vaadin-button icon="fonticon://FontAwesome/f044" style-name="compose borderless icon-align-top"
                               width-full="true" height="150px" plain-text="" _id="indexButton">
                    Start-Index
                </vaadin-button>
                <vaadin-button icon="fonticon://FontAwesome/f01c" primary-style-name="valo-menu-item"
                               _id="searchButton">
                    Lucene Suche
                    <!--<span class="valo-menu-badge">7</span> -->
                </vaadin-button>
                <vaadin-button icon="fonticon://FontAwesome/f01c" primary-style-name="valo-menu-item"
                               _id="esearchButton">
                    Erweiterte Suche
                    <!--<span class="valo-menu-badge">7</span>-->
                </vaadin-button>
                <vaadin-button icon="fonticon://FontAwesome/f0c5" primary-style-name="valo-menu-item" _id="logsButton">
                    Logs
                </vaadin-button>
                <vaadin-button icon="fonticon://FontAwesome/f1d8" primary-style-name="valo-menu-item" _id="conButton">
                    Verbindungen
                </vaadin-button>
                <vaadin-button icon="fonticon://FontAwesome/f12a" primary-style-name="valo-menu-item" plain-text=""
                               _id="xmppButton">
                    Xmpp
                </vaadin-button>
            </vaadin-css-layout>
        </vaadin-css-layout>
    </vaadin-css-layout>
</body>
</html>
